.w-navbar {
    width:47%;
}

.footer-padding-left{
    padding-left:38%;
}

.empty-space{
    margin-top:2%;
}


.carousel-inner{
    width:100%;
    height: 50%;
    max-height: 600px !important;
}

.carousel-inner img{
    max-height: 600px !important;
}

.w-65{
    width:65%;
}



.list-group-item:hover{
    background-color: rgba(0, 0, 0, 0.03);
}

.dd{
    overflow:hidden;
    text-overflow:ellipsis;
}

.dropdown-menu {
    width: 1px !important;
}

.w-15{
    width: 15% !important;
}


.button-link{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
}

.button-link:hover{
    text-decoration: underline;
}
